body {
  background-color: lightblue;
}
/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
#imageNav-area {
    width: 100%;
  
    /* Box-model */
    padding: 20px 20px 33px;
  
    /* Positioning */
    margin-top: 39px;
  
    /* Visual */
    background-color: #fff;
  }
  
  .imageNav-header {
    /* Positioning */
    margin-bottom: 15px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 25px;
    font-weight: bold;
    color: #1e0bf4;
  }
  
  .imageNav-photo {
    width: 140px;
  
    /* Box-model */
    height: 140px;
  }
  
  .imageNav-photo:hover {
    /* Visuals */
    opacity: 0.6;
  }
  
  .imageNav-photo.active {
    /* Visuals */
    border: 2px solid #1609c8;
  }
  
  images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }

  h1 {
	color: rgb(21, 7, 98);
}